<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column nav-pills" id="sidebar-nav" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-bs-toggle="pill" href="#home" role="tab" aria-controls="home" aria-selected="true">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="dashboard-tab" data-bs-toggle="pill" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false">
          Data Dashboard
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="genomic-analysis-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Genomic Analysis
        </a>
        <ul class="dropdown-menu" aria-labelledby="genomic-analysis-dropdown">
          <li><a class="dropdown-item" id="gwas-tab" href="#gwas" role="tab" aria-controls="gwas" aria-selected="false">GWAS</a></li>
          <li><a class="dropdown-item" id="analysis-general-tab" href="#analysis-general" role="tab" aria-controls="analysis-general" aria-selected="false">General Analysis</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="observation-tab" data-bs-toggle="pill" href="#observation" role="tab" aria-controls="observation" aria-selected="false">
          Genome Observation
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="browse-tab" data-bs-toggle="pill" href="#browse" role="tab" aria-controls="browse" aria-selected="false">
          Genome Browse
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
      <span>Saved reports</span>
      <a class="link-secondary" href="https://dataplan.top" aria-label="Add a new report">
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="https://dataplan.top">
          Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://dataplan.top">
          Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://dataplan.top">
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://dataplan.top">
          Year-end sale
        </a>
      </li>
    </ul>
  </div>
</nav>